@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;;
}
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    color: #434343;
    background-color: #171717;
    background-image: url("../img/back.jpg");
    background-size: cover;
}
a {
    color: #3CB878;
    text-decoration: none;
    transition: color .5s ease;
}
a:hover {
    color: #01813F;
    text-decoration: underline;
}
h2 {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
}
header {
    position: absolute;
    top:0;
    left:0;
    right: 0;
    color: #fff;
}
header a {
    color: #fff;
}
header a:hover {
    color: #01813F;
    text-decoration: none;
}
.header_container {
    display: flex;
    flex-flow: row nowrap;
    padding: 18px 80px 0;
    position: relative;
    top:0;
}
.header_black_bg {
    background-color: black;
    opacity: 40%;
    height: 60px;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    box-shadow: black 0px 5px 15px;
}
.logo {
    flex-grow: 1;
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    margin-right: 20px;
}
.header_container .header_right_side {
    flex-grow: 1;
    display: flex;
    justify-content: end;
    align-items:center;
}
.header-icon {
    fill: white;
    transition: fill .5s ease;
}
.header-icon:hover {
    fill: #01813F;
}
.header_icons {
    display: inline-block;
}
.header_icons a {
    margin-right: 25px;
}
.welcme_block {
    padding-left: 20px;
    border-left: 1px solid white;
}

.wrapper {
    width:444px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top:40px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.content{
    padding: 28px 60px 35px;
    background-color: white;
    position: relative;
}
.green_deco_box {
    background-color: #3CB878;
    position:absolute;
    top:29px;
    left: 0;
    width: 18px;
    height: 18px;
}
.grid_2fr {
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    grid-gap: 0px 4px;
}
.login-link {
    text-align: right;
    align-self: end;
}
.fb_btn,
.ggl_btn {
    display: block;
    background: #305DB8;
    color: white;
    font-size: 16px;
    line-height: 48px;
    border-radius: 3px;
    transition: background .5s ease;
}
.ggl_btn {
     background: #DF4A32;
 }
.fb_btn:hover{
    background: #022263;
    color: #fff;
    text-decoration: none;
}
.ggl_btn:hover {
    background: #AB1F09;
    color: #fff;
    text-decoration: none;
}
.fb_btn:before,
.ggl_btn:before {
    content: "";
    background: url("../img/f1.svg") center no-repeat;
    width: 43px;
    height: 24px;
    display: block;
    float: left;
    text-align: center;
    border-right: 1px solid #2a51a1;
    margin-right: 30px;
    margin-top: 12px;
}
.ggl_btn:before {
    background:url("../img/g.svg") center no-repeat;
    border-right: 1px solid #c4412d;
    width: 50px;
    height: 24px;
    margin-right: 30px;
}
.fb, .ggl {
    margin:15px 0;
}

.textline_separator {
    margin: 15px 0 6px;
    position: relative;
    display: flex;
    justify-content: center;
    color: #848484;
    min-height: 20px;
}
.textline_separator p {
    text-align: center;
    margin-top: 0;
    position: absolute;
    background-color: white;
    padding: 0 10px;
}
.textline_separator:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color:#F2F2F2;
    position: absolute;
    top:10px;
}
/* --- Form ----*/
input {
    border: 1px solid #F2F2F2;
    border-radius: 3px;
    margin: 0.25rem;
    width: 90%;
    padding: 4% 5%;
    transition: border-color 0.5s ease-out;
}
input:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
}
input::placeholder {
    color: #BEBEBE;
}
/*---- Checkbox slyte ----*/

 .checkbox_container {
     display: block;
     position: relative;
     padding-left: 35px;
     margin: 10px 0 15px;
     cursor: pointer;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }
/* скрываем дефолтный флажок */
.checkbox_container .check-highload {
    position: absolute;
    opacity: 0;
    width: auto;
    padding: 0;
    margin: 0;
    border: 1px solid #F2F2F2;
}
/* Создаем кастомный checkbox */
.highload2 {
    position: absolute;
    top: -3px;
    left: 4px;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: 1px solid #F2F2F2;
}
/* Когда отмечен, то красим в зеленый цвет */
.checkbox_container .check-highload:checked ~ .highload2 {
    background-color: white;

}
/* Создаем когда отмечено (не видно, когда не отмечено) */
.highload2:after {
    content: "";
    position: absolute;
    display: none;
}
/* Показываем когда отмечен */
.checkbox_container .check-highload:checked ~ .highload2:after {
    display: block;
}
/* Стили индикатора */
.checkbox_container .highload2:after {
    left: 6px;
    top: 0px;
    width: 7px;
    height: 14px;
    border: solid green;
    border-width: 0 2px 2px 0;
    transform: rotate(39deg);
}
input[type='submit'] {
    background: #63c693;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: background .5s ease;
}
input[type='submit']:hover {
    background: #01813F;
}

